<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script src="app.js" type="text/javascript"></script>
        <script src="angular.js" type="text/javascript"></script> 
    </head>
    <body ng-app="app">
        <div class="container" ng-controller="CommentsCtrl">
            <h1>Commentaires {{date}}</h1>
            <p>Rechercher :
                <input type="text" placeholder="Rechercher un nom utilisateur" ng-model="search.name"/>
                <input type="text" placeholder="Rechercher un commentaire" ng-model="search.body"/>

            </p>
            <ul ng-repeat="comment in comments| filter: search">
                <li><strong>{{comment.name| uppercase }}</strong>{{comment.body}}</li>
            </ul>
        </div>
    </body>
</html>
