body {
  background-image:linear-gradient(60deg, white, #F8CBCC)
}
.text-align {
  text-align: center;
  font-family: Verdana;
}
img {
 border:3px groove;
 box-shadow: 10px 10px 10px black;
 float: right;
 margin-top: -150px;
 margin-right: 25px;
 border-radius: 20px 5px 20px 5px;
 }
.etat-civil {
  border-radius: 5px 20px 5px 20px;
  box-shadow : 10px 10px 10px black;
  border: 3px groove;
  background-color: #FADFDF;
  margin-top: -100px;
  margin-left: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
}
h2 {
  color: #610014;
  font-family: sans-serif;
  text-decoration: underline;
}
div {
  text-align: center;
  margin-top: 150px;
}
